#app {
  display: flex;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
body {
  overflow: hidden;
}

.button-act, .button-no-act {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.pulse {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.pulse {
  animation: pulse 1.2s ease infinite;
  background: #0074D9;
}

.button-act {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  border: none;
  background: #0074D9;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 17px;
  outline: none !important;
  box-shadow: none;
}

.button-no-act {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  border: none;
  background: orange;
  cursor: not-allowed;
  outline: none;
  color: #fff;
  font-size: 17px;
  outline: none !important;
  box-shadow: none;
}

.button-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

#app {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#listen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

#code-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#accessKey {
  cursor: pointer;
}

.access-key {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 5px 10px 5px 10px;
}

#device-name {
  margin-top: 100px;
}

#settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#table-wrapper {
  max-height: 350px;
  min-height: 350px;
  overflow: auto;
  display:inline-block;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  outline: none;
}

input:focus {
  border-bottom-style: groove;
  background-color: #eee;
}

.input-phrase {
  width: 80px;
}

.input-body {
  width: 160px;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
